<!-- Slider Start -->
<div class="section slider-section-page">
</div>
<!-- Slider End -->
<!-- All Courses Start -->
<div class="section section-padding-02">
    <div class="container">
        @if (CultureInfo.CurrentUICulture.Name == "ar")
        {
            <!-- All Courses Top Start -->
            <div class="courses-top aboutus-top">
                <!-- Section Title Start -->
                <div class="section-title shape-01 ma3an-title">
                    <h2 class="main-title">
                        <span>
                            عن
                        </span> منصة معاً
                    </h2>
                </div>
                <div class="aboutus-content">
                    <p>
                        •	تعني المنصة بتعزيز التكافل الاجتماعي وطرق الاحسان والعلاقات الانسانية بافضل الوسائل المتاحة وباروع الصور.
                        <br>
                        •	يتم تسليم التبرعات والهدايا المجانية والمعونات بين الاطراف المعنية مباشرة من خلال هذه المنصة
                        <br>
                        •	يتم التواصل بين الاطراف (الطرف المتبرع والمحتاج)  بطريقة امنة ومن خلال الرسائل المباشرة عبر المنصة او الاتصال الهاتفي حسب اختيار المتبرع
                        <br>
                        •	 يتم عرض التبرعات وحسب تصنيفاتها على المنصة (ملابس اطفال, اثاث منزلي, اجهزة كهربائية, معدات واجهزة طبية, العاب اطفال .... الخ)
                        <br>
                        •	الغاية الرئيسية من المنصة هو:
                        <br>
                        1.	عرض ما اصبح ليس له حاجة عند طرف مثل (ملابس اطفال وكبار, العاب, اثاث, معدات, اجهزة ... الخ) لمن اصبح بحاجة ماسة له
                        <br>
                        2.	مساعدة مريض او عاجز او شخص لديه اعاقة غير مقتدر بـ (جهاز فحص طبي, كرسي متحرك, عكاز طبي ,معدات طبية, شراء ادوية, اجراء عملية جراحية .... الخ)
                        <br>
                        3.	تبادل الهدايا بين اعضاء العائلات والاصدقاء المعروضة بالمتجر.
                        <br>
                        4.	عرض الحيوانات الاليفة او احتياجاتها من شخص الى اخر
                    </p>
                </div>
                <div class="about-note">ملاحظة: (يتم عرض منتجات المعارض, والمتاجر باسعار القديمة او التي حل محلها اصناف جديدة تفضيلية لغايات تشجيع المتبرعين المقتدرين او من يرغون بتقديم هدية لقريب او محتاج) </div>
                <p>
                    1.	شراء وتأمين احتياجات العائلات الميسورة من المتجر او مما يفيض عن حاجة شخص مثل (الحقائب المدرسية, اقساط مدرسية, وجبات طعام, صدقات جارية, اجهزة كهربائية , البسة .... الخ)
                    <br>
                    2.	مساعدة مريض او عاجز او شخص لديه اعاقة غير مقتدر بـ (جهاز فحص طبي, كرسي متحرك, عكاز طبي ,معدات طبية, شراء ادوية, اجراءالتبرع بمشروع مثل مدرسة, او ابار مياه, نادي اطفال, او حديقة ... الخ
                    <br>
                </p>
            </div>
            <!-- All Courses Top End -->
        }
        else
        {
            <!-- All Courses Top Start -->
            <div class="courses-top aboutus-top">
                <!-- Section Title Start -->
                <div class="section-title shape-01 ma3an-title">
                    <h2 class="main-title"><span> About</span> Together</h2>
                </div>
                <div class="aboutus-content">
                    <p>
                        •	The platform is concerned with promoting social solidarity, charitable methods, and human relations using the best available means and the finest methodologies.
                        <br>
                        •	Donations, free gifts and aid are delivered to the concerned parties directly through this platform
                        <br>
                        •	Communication between the parties (the donor and the donee) is carried out in a safe manner and through direct messages via the platform or by telephone, according to the choice of the donor.
                        <br>
                        • Donations are displayed on the platform according to their classifications (children's clothing, home furniture, electrical appliances, medical equipment and devices, Toys .... etc.)
                        <br>
                        •	الغاية الرئيسية من المنصة هو:
                        <br>
                        1.	Presenting what is no longer needed by the donor, such as (children’s and adults’ clothes, toys, furniture, equipment... etc.) to those who have an urgent need for it.
                        <br>
                        2.	Helping a sick or a disabled person who is uncapable and in need with (medical examination devices, wheelchairs, medical crutches, medical equipment, buying medicines, performing surgery .... etc.)
                        <br>
                        3.	Exchanging gifts between family members and friends using the store.
                        <br>
                        4.	Sharing the pets needs and what is necessary for their wellbeing.
                    </p>

                </div>
                <div class="about-note">Note: (Exhibition and store products are displayed at their old prices or have been replaced by other items that are preferential to the current items. To encourage donors and those who wish to give a gift to a relative or a donee). </div>
                <p>
                    5.	Purchasing and securing the needs of poor families from the store or from what is considered a surplus to the donor like (school bags, school installments, meals, ongoing alms, electrical appliances, clothes, Donate to projects such as a school, water well, youths center, or a park .... etc.)
                </p>
            </div>
            <!-- All Courses Top End -->
        }
        <br> <br><br> <br><br>
    </div>
</div>
<!-- All Courses End -->