<!-- Slider Start -->
<div class="section slider-section-page">



</div>
<!-- Slider End -->
<!-- All Courses Start -->
<div class="section section-padding-02">

    @if (CultureInfo.CurrentUICulture.Name == "ar")
    {
        <div class="container">
            <!-- All Courses Top Start -->
            <div class="courses-top">

                <!-- Section Title Start -->
                <div class="section-title shape-01">
                    <h2 class="main-title"><span> سياسات </span>التبرع </h2>
                </div>
                <!-- Section Title End -->
            </div>
            <div class="donate-conditions">
                <h4>
                    التمهيد:
                </h4>
                <p>
                    الهدف من هذه السياسة تحديد المبادئ والتوجيهات اللازمة وآليات جمع الموارد المالية وعمل منظومة "معاً".
                </p>
                <h4>
                    التزامات المتبرع:

                </h4>
                <p>
                    •	يقر المتبرع عند استخدامه لهذه المنصة بأهليته القانونية لإجراء التبرعات.
                    <br>
                    •	يوافق المتبرع على الشروط والأحكام، كما يوافق على حق المنظومة المُطلق في تعديلها وتغييرها في أي مرحلة.
                    <br>
                    •	يقر المتبرع بسلامة ونقاء وشرعية مصدر الأموال محل التبرع وبصحة كافة البيانات ذات العلاقة بتبرعه.
                    <br>
                    •	يفوض المتبرع منصة "إحسان" بالقيام بكافة الأعمال في سبيل إيصال التبرعات وإنهاء جميع الإجراءات ذات العلاقة عبر شركاء المنصة سواء من الجهات الحكومية أو الجمعيات الأهلية المرخصة.
                    <br>
                    •	يتحمل المتبرع المسئولية منفرداً في حال مخالفته أي من أنظمة او قوانين المحلية أو القوانين الدولية الخاصة بــ :<br>
                    1.	نظام مكافحة الإرهاب.
                    <br>
                    2.	نظام مكافحة غسيل الأموال
                    <br>
                    3.	أنظمة وقرارات الأمم المتحدة الموقع عليها من المملكة.
                    <br>
                    4.	القرارات والقواعد ذات العلاقة بالممارسات المحظورة.<br>
                    5.	الأنظمة ذات العلاقة.
                    <br>
                </p>
                <h4>
                    أحكام أخرى:
                </h4>
                <p>
                    •	للمستخدم (المسجل) في المنصة الاطلاع على المبالغ المتبرع بها، وذلك من خلال صفحة "المستخدم".

                    <br>
                    •	في حالة تعثر المشروع المُتبرع لأجله -لسبب غير راجع للمنصة- فإن المتبرع يوافق على تحويل المبلغ لمشروع مشابه من المشاريع المدرجة في المنصة وتلتزم المنصة بذلك.

                    <br>
                    •	هذه السياسة قابلة للتعديل، ويسري العمل بأي تعديل قد يطرأ عليها فور نشره من خلال المنصة.

                    <br>
                </p>
            </div>
            <br><br> <br><br> <br><br>
        </div>
    }
    else
    {
        <div class="container">
            <!-- All Courses Top Start -->
            <div class="courses-top">

                <!-- Section Title Start -->
                <div class="section-title shape-01">
                    <h2 class="main-title"><span> Donation </span> Policies </h2>
                </div>
                <!-- Section Title End -->
            </div>
            <div class="donate-conditions">
                <h4>
                    Preface:
                </h4>
                <p>
                    •	The objective of this policy is to define the principles and guidelines, mechanisms for collecting financial resources and how the "Together" system works.
                </p>
                <h4>
                    Donor obligations:

                </h4>
                <p>
                    1.	By using this platform, the donor acknowledges that they are legally capable to make donations.
                    <br>
                    2.	The donor agrees to the terms and conditions, and to the changes and modifications that occur to the system at any time.
                    <br>
                    3.	The donor acknowledges the integrity and legitimacy of the fund source being donated and the validity of all data related to his donation.
                    <br>
                    4.	The donor authorizes the "Together" platform to do all the work in order to deliver donations and to complete all related procedures through the platform's partners, whether they were government agencies or licensed NGOs.
                    <br>
                    5.	The donor bears the sole responsibility in the event of violating any local or international laws or regulations related to:

                    1.	Anti-terror system.
                    <br>
                    2.	Anti-money laundering system
                    <br>
                    3.	United Nations regulations and resolutions signed by the Kingdom.
                    <br>
                    4.	Rules and regulations related to prohibited practices.
                    <br>
                    5.	Related systems.
                    <br>
                </p>
                <h4>
                    Other obligations:
                </h4>
                <p>
                    •	The user (registered) in the platform has access to the donated amounts, through the “User” page.
                    <br>
                    •	In the event that the donated project falters - for reasons not related to the platform - the donor agrees to transfer the amount for a similar project from the projects listed on the platform, and the platform is committed to these obligations.
                    <br>
                    •	This policy is subject to change, and any modification that may occur to it shall be effective immediately upon its publication through the platform.
                    <br>
                </p>
            </div>
            <br><br> <br><br> <br><br>
        </div>

    }
</div>
<!-- All Courses End -->