<!-- Page Banner Start -->
<div class="section page-banner">

    <!-- <img class="shape-1 animation-round" src="~/maan/assets/images/shape/shape-8.png" alt="Shape"> -->

    <img class="shape-2" src="~/maan/assets/images/shape/@CultureInfo.CurrentUICulture.Name-shape-23.png" alt="Shape">

    <div class="container">
        <!-- Page Banner Start -->
        <div class="page-banner-content">
            <ul class="breadcrumb">
                <li><a href="/home">@language.Getkey("NAV_HOME")</a></li>
                <li class="active">@language.Getkey("FORM_RESET")</li>
            </ul>
            <h2 class="title">@language.Getkey("FORM_RESET")</h2>
        </div>
        <!-- Page Banner End -->
    </div>

    <!-- Shape Icon Box Start -->
    <div class="shape-icon-box">

        <div class="box-content">
            <div class="box-wrapper">
                <img src="~/maan/assets/images/login.svg" alt="Shape" width="50">
                <!-- <i class="flaticon-login"></i> -->
            </div>
        </div>

        <img class="icon-shape-2" src="~/maan/assets/images/shape/shape-6.png" alt="Shape">

    </div>
    <!-- Shape Icon Box End -->
    <!-- <img class="shape-3" src="~/maan/assets/images/shape/shape-24.png" alt="Shape"> -->

    <img class="shape-author" src="~/maan/assets/images/author/author-11.jpg" alt="Shape">

</div>
<!-- Page Banner End -->
<!-- Register & Login Start -->
<div class="section section-padding">
    <div class="container">
        <!-- Register & Login Wrapper Start -->
        <div class="register-login-wrapper">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <!-- Register & Login Images Start -->
                    <div class="register-login-images">
                            <h3 class="title">@language.Getkey("PASSWORD_RESET_CONFIRMED")</h3>
                        <div class="register-login-form">
                        </div>
                    </div>
                    <!-- Register & Login Images End -->
                </div>
            </div>
        </div>
        <!-- Register & Login Wrapper End -->
    </div>
</div>
<!-- Register & Login End -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}